html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=cyrillic');

body, html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}


/* Logo */

figure {
	width: 100%;
	position: relative;
	margin: 4% auto;
}

figure img#logo{
	display: block;
	width: 30%;
	margin: auto;	
}

#one, #two, #three {
		position: absolute;
		width: 5%;		
}

#one {
	right: 45%;
	top: 57%;
	height: auto;
	width: 1.9%;
	animation: one 4s infinite;
}

#two {
	right: 43.5%;
	top: 55%;
	height: auto;
	width: 2.8%;
	animation: two 4s infinite;
}

#three {
	right: 42%;
	top: 53%;
	height: auto;
	width: 3%;
	animation: three 4s infinite;
}


/* Logo animation */

@keyframes one {
	
	0% {
		opacity: 1;
	}

  	16.6666667% {
    	opacity: 0;
  	}

  	33.3333334% {
    	opacity: 0;
  	}

  	50.0000001% {
		opacity: 0;
	}

	66.6666668% {
		opacity: 1;
	}

	83.3333335% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes two {
	
	0% {
		opacity: 1;
	}

    11.1111111% {
    	opacity: 1;
    }

    27.7777778% {
    	opacity: 0;
    }

    44.4444445% {
		opacity: 0;
	}

	61.1111112% {
		opacity: 0;
	}

	77.7777779% {
		opacity: 1;
	}

	94.4444446% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}
}

@keyframes three {

	0% {
		opacity: 1;
	}
	
    22.2222222% {
    	opacity: 1;
    }

    38.88888889% {
		opacity: 0;
	}

	55.5555556% {
		opacity: 0;
	}

	72.2222223% {
		opacity: 0;
	}

	88.888889% {
		opacity: 1;
	}

	100% {
		opacity: 1;
	}

}


/* Menu */

.nav{
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.nav li{
    display:inline;
	
}
.nav a{
	vertical-align: top;  
	color: #304e74;
	font: 1.2em 'Open Sans Condensed', sans-serif;
    display:inline-block;
    padding:10px;
    text-decoration: none;
}

.nav a:hover {
	color: #0c2f5a;
}	

#lang-switch {
	color: #304e74;
	position: absolute;
	right: 3%;
	top: 4%;
}

#lang-switch a {
	text-decoration: none;
	color: #304e74;
	font: 1.1em 'Open Sans Condensed', sans-serif;
}