html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;	
}



html, body {
	height: 100%;
	min-height: 500px;
	width: 100%;
	font-size: 16px;
	position: relative;
}



/* Content section */

#content p {
        margin-bottom: 3%;
}

h1 {
	font: 2em 'Old Standard TT', serif;
        margin-bottom: 50px;
	text-align: center; 
}

h2 {
        font: 1.5em 'Old Standard TT', serif;
        margin: 7% 0 2%;
        text-align: center; 
}

#content {
	width: 80%;
	margin: 0 auto;
	font: 1.1em 'Open Sans', sans-serif;
        color: #2f4e73;
	position: relative;
	padding-top: 25%;
}

p#first:first-letter {
	font: 3.5em 'Old Standard TT', serif;
	float: left;
	margin: 1% 2%;	
}

#content img {
	width: 80%;
	height: auto;
	margin: 5% auto;
	position: relative;
	display: block;
	clear: both;
}

#content ul, ol {
	list-style-position: inside;
}



a {
        outline : none;
}

a img {
        outline : none;
}

img {
        border : 0;
}



/* ÐThe top panel */
#panel {
	width: 100%;
	height: 15%;
	background-color: #fff;
	z-index: 1;
	position: fixed;
	top: 0;
}

#arrow {
	display: none;
	margin: 0 45%;
	width: 10%;
	top: 30%;
	position: absolute;
	cursor: pointer;	
}

#menu {
	height: 20%;
	display: inline;
	float: left;
        position: absolute;
        top: 20%;
        left: 5%;
        cursor: pointer;
}

#logo {
	height: 60%;
	position: absolute;
	right: 5%;
	top: 20%;
	float: right;
        cursor: pointer;
	display: inline;
}


/* Left menu */

nav {
	height: 100%; 
        width: 0; 
        position: fixed; 
        z-index: 1; 
        top: 0;
        left: 0;
        overflow-x: hidden; 
        background-color: #fff;
}

nav ul {
	margin: 5%;
}

nav ul li:nth-child(2) {
	font: 2.5em 'Open Sans Condensed', sans-serif;
	margin-bottom: 20px;
}

nav ul li:last-child {
	margin-top: 20px;
}

nav ul li a {
	text-decoration: none;
	color: #000;
	
}

nav ul li{
	list-style-type: none;
	padding-bottom: 10px;
	font: 1.5em 'Open Sans Condensed', sans-serif;
}

.active {
	color: #99bddc;
}

ul li::selection, p::selection, a::selection {
	background: #99bddc; 
	color: #000;
}
ul li::-moz-selection, p::-moz-selection, a::-moz-selection {
	background: #99bddc; 
	color: #000;
}




footer {
	font: 1.3em 'Open Sans Condensed', sans-serif;
	color: #757575;
	text-align: center;
	margin: 300px 0 50px;
	width: 100%;
}



 /* Form */

label {
	width: 100%;
	font-size: 1.2em;
	margin-top: 50px;
        display:inline-block;
 }

input[type=text], textarea {
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #2f4e73;
    box-sizing: border-box;
    padding: 10px;
}

input[type=text]:focus, textarea:focus {
 	border-bottom: 2px solid #2f4e73;
 	outline: none;
 }

input[type=submit] {
    margin: 3%;
    display: block;
    width: 115px;
    height: 50px;
    background: #99bddc;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font: 1.2em 'Open Sans Condensed', sans-serif;
    box-sizing: border-box;
    border: 0;
    cursor: pointer;
}

input[type=submit]:hover, input[type=submit]#delete:hover {
    background: #2f4e73;
}


@media (max-width: 400px) {

#arrow {
	width: 20%;
	margin: 0 40%;
}

}


/*]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]*/

@media (min-width: 900px) {

html, body {
        height: 100%;
        width: 100%;
        font-size: 16px;
        position: relative;
}


/* Content section */

h1 {
        font: 2.5em 'Old Standard TT', serif;
}

h2 {
        font: 2em 'Old Standard TT', serif;
}

#content {
        width: 50%;
        padding-top: 150px;
	font: 1.2em 'Open Sans', sans-serif;
}

#content img {
        margin: 30px auto;
}

#logo {
        width: 80px;
	height: auto;
        position: fixed;
        right: 60px;
        top: 20px;
        float: right;
        cursor: pointer;
}

#panel {
	width: 0;
	background: transparent;
	height: 100%;
}

#menu {
	display: none;
}

#arrow {
	margin: 0 5%;
        top: 95%;
	width: 5%;
}

/* Left menu */

nav {
        left: 20px;
        top: 20px;
        width: 20%;
	height: auto;
        float: left;
        position: absolute;        
}

nav ul li:first-child {
	display: none;
}


}


